<!DOCTYPE html>
<html>
<head>
    <title>Text Animation</title>
    
 
   
</head>
<body onload="init();">
    <div class="banner">
    <div class="subdiv">
<h1><marquee direction="right" >Welcome to Employee Management System</marquee></h1>
    </div>
</div>
</body>
</html>